.navbar {
  display: flex;
}

.nav {
  display: block;
    text-align: center;
  text-decoration: none;
    border-left: none;

  /* style button as link */
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

.navbar-link:first-child {
  border-left: var(--border);
}

.navbar-link:hover {
  background-color: #ddd;
}

.navbar-link:active {
  background-color: #666;
  color: white;
}

.active,
.active:hover,
.active:active {
  color: white;
  background-color: #444;
  cursor: default;
}
